/* 
FONTS
*h1-> font-family: 'Encode Sans SC', sans-serif;
*body -> font-family: 'Darker Grotesque', sans-serif;
*hn -> font-family: 'Montserrat', sans-serif;


*/

/* TODO: CAMBIAR PALETA DE COLORES PORQUE DA OCOTE */

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffecb3;
    height: 100vh;
    box-sizing: border-box;
    color: #424242;
    text-align: center;
}

/* HEADER */

header {
    background-color: #a1887f;
    background-color: #a1887f;
    background-image: url("https://www.transparenttextures.com/patterns/crisp-paper-ruffles.png");
    -webkit-box-shadow: 0px 2px 2px 0px #212121; 
    box-shadow: 0px 2px 2px 0px #212121;
}
/* Titulos */
h1 {
    margin: 0;
    padding: 5vh;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 40px;
}

h2 {
    color: #212121;
    font-weight: 900;
    font-size: 25px;
}

/* FORMULARIO PARA AGREGAR ITEM */

form {
    font-weight: bolder;
    font-size: 25px;
    text-align: left;
    position: absolute;
    left: 7%;
    top: 25vh;
    display: flex;
    background-color: #a1887f;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
    height: 60vh;
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.43);
    -webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.43);
}

label {
    margin-bottom: 10px;
}

input{
    border: none;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

select {
    border: none;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

textarea {
    border: none;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    height: 75px;
}

input[type="submit"] {
    margin-top: 4vh;
}



/* BOTON PARA AGREGAR ITEM */

button {
	font-size:25px;
    color:#212121;
	background-color:#ffff8d;
	border-radius:5px;
	border:1px solid #ffff00;
	cursor:pointer;
	padding:12px 25px;
	text-shadow:0px 1px 0px #f9a825;
    box-shadow: 3px 4px 5px 0px #212121;
    position: absolute;
    bottom: 30px;
    right: 30px;
}
button:hover {
	background-color: #f9a825;
    border:1px solid #f9a825;
}
button:active {
    background-color: #ffff8d;
    box-shadow: none;
    border: none;
}

/* ITEMS DE LA LISTA */
.listaCompras {
    padding: 0;
    margin: 0;
}

.listaCompraItem {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px #757575 solid;
    padding: 15px 0;
    margin: 0;
    font-size: larger;
    font-weight: 600;
}

.listaCompraItem:hover {
background-color: rgb(1, 213, 195);
}

.listItemText {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

li i {
    font-size: 30px;
    color: #757575;
}

/* EL POPUP DE LAS DESCRIPCIONES */

.descripciones {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #BDBDBD;
    width: 70%;
    position: absolute;
    left: 7vw;
    top: 20vh;
    border-radius: 5px;
    padding: 30px;
}

.close {
    align-self: flex-end;
}

/* FOOTER */

footer {
    border-top: 1px solid #FFF;
    font-weight: 600;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

.off {
    display: none;
}

.on {
    display: block;
}

.flex {
    display: flex;
}

/* .opacity {
    filter: brightness(0.4);
} */
